body {
    font-family: Arial, Helvetica, sans-serif;
}
section.subhead {
    background: url(files/histHomepic.jpg) top left no-repeat;
    height: 50px;
}
div#parent {
    width: 780px;
    /*margin: 0px;*/
}

div#parent section {
    /*height:100px;*/
    /*margin: 10px;*/
}

section.main-content-area {
    min-height: 400px;
    display: flex;
    flex-direction: column;

    section {
        padding: 20px;
        border-radius: 10px;
    }

    section.brown-box {
        background-color: lightcyan;
        padding: 20px;
        border-radius: 10px;
        min-height: 400px;
        display:flex;
        justify-content: space-between;

        > * {
            /*margin: 10px;*/
        }
        .left-side
        {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > * {
                background-color: transparent;
            }
            nav {
                a {
                    display: block;
                    text-decoration: none;
                    border-bottom: 2px solid #60663e;
                    padding: 10px;
                    font-size: 10px;

                    &:hover {
                        color: white;
                        background-color: black;
                    }
                }
            }
            .links {
                display:flex;
                flex-direction:column-reverse;
                align-items: center;
            }
        }
        .right-side {
            background-color: white;
            padding: 10px;
            width: 60%;
            img{
                margin-bottom:10px;
                width: 100%;
            }
            p {
                font-size: 10px;
            }
            div.more {
                display: flex;
                text-decoration: none;
                font-size: 9px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    nav.secondary {/*applies to all nav tags found inside of section.main-content-area*/
        min-height: 20px;
        /*border: 1px dotted green;*/
        text-align: right;
        padding-right: 20px;
        font-size: 11px;

        a{ /*this targets ALL links in each of the navs*/
            margin:0 5px;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            text-transform: uppercase;

            &:hover{
                text-decoration: underline;
            }
        }
        &.bottom {
            font-size:9px;
            a {
                text-transform: lowercase;
            }
        }
    }
}
section.footer {
    background-color: darkolivegreen;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 8px;
    margin: 0px;
}
h4 {
    color: red;
    border-bottom: 2px dashed red;
    font-weight: unset;
    margin: 0 0 5px 0;
}

